*, *::before, *::after {
    box-sizing: inherit;
    padding: inherit;
    margin: inherit;
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.insert-card {

}

.insert-card-header {

}

.insert-card-input {

}

.insert-card-list {
    display: flex;
    flex-direction: column;
}

#item-list {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.insert-card-list-item {
    display: flex;
}

.btn-delete {
    align-self: flex-end;
}
