*, *::before, *::after {
    box-sizing: inherit;
    padding: inherit;
    margin: inherit;
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.insert-card {

}

.insert-card-header {

}

.insert-card-input {

}

.insert-card-list {

}

.insert-card-list-item {
    
}
